CACHE_ENABLED=true
DEFAULT_REDIS_TTL=900
UPSTASH_REDIS_REST_URL=https://darling-labrador-109477.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAaulAAIgcDEyMWM0ZTUxZTVjYTQ0MzAwOWY1YmY2MzFjZjYyYzk1OA
PORT=6379
